<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>

</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br />
        名：<input type="text" v-model="lastName"><br />
        全名：<span>{{fullName}}</span>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: '张-三'
        },
        watch: {
            firstName(val) {
                setTimeout(() => {
                    // 这里箭头函数中的this指向是firstName所属的函数
                    console.log(this)
                    this.fullName = val + '-' + this.lastName
                }, 1000)
            },
            lastName(val) {
                setTimeout(() => {
                    this.fullName = this.firstName + '-' + val
                }, 1000);
            }
        }
    })
</script>

</html>